.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.formBlock {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.textField {
  min-height: 4rem;
}

.content {
  display: flex;
  align-items: center;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.editButtonThumb {
  display: flex;
  justify-content: end;
}
