.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.formBlock {
  display: flex;
  flex-direction: column;
  width: 50%;
  &:not(:first-child){
    margin-top: 2rem;
  }
}

.textField {
  min-height: 4rem;
}

.content {
  display: flex;
  align-items: center;
}

.editButtonThumb {
  display: flex;
  justify-content: end;

  & .visible {
    display: flex;
  }

  & .hidden {
    display: none;
  }
}
