.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formBase {
  display: flex;
  justify-content: space-evenly;
}

.formAdvanced {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textField {
  min-height: 4rem;
}
