.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editButtonThumb {
  display: flex;
  justify-content: end;
}

.formThumb {
  display: flex;
  flex-direction: column;
  align-items: center;
}
