.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.editButtonThumb {
  display: flex;
  justify-content: end;
}

.formBlock {
  display: flex;
  flex-direction: column;
  width: 50%;
  &:not(:first-child){
    margin-top: 2rem;
  }
}

.textField {
  min-height: 4rem;
}
