.card {
  width: 100%;

  &:not(:first-child) {
    margin-top: 8px;
  }
}

.halfCard {
  width: calc(50% - 4px);
}

.flex {
  display: flex;

  &.flexWrap {
    flex-wrap: wrap;
  }

  &.column {
    flex-direction: column;
  }

  &.alignCenter {
    align-items: center;
  }

  &.justifyCenter {
    justify-content: center;
  }

  &.spaceBetween {
    justify-content: space-between;
  }

  &.spaceAround {
    justify-content: space-around;
  }

  &.flexEnd {
    justify-content: flex-end;
  }

  &.spaceEvenly {
    justify-content: space-evenly
  }
}

