# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            string $buildDirectory: '%kernel.build_dir%'
            string $adclassifyBaseUri: '%env(ADCLASSIFY_BASE_URI)%'
            string $appName: '%env(APP_NAME)%'
            string $appSecret: '%env(APP_SECRET)%'
            string $appVersion: '%env(APP_VERSION)%'
            string $adserverBaseUri: '%env(ADSERVER_BASE_URI)%'
            string $adserverHomeDirectory: '%env(ADSERVER_HOME_DIRECTORY)%'
            string $licenseServerBaseUri: '%env(LICENSE_SERVER_BASE_URI)%'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
    app.custom_authenticator:
        class: App\Security\CustomAuthenticator
        parent: lexik_jwt_authentication.security.jwt_authenticator
