@import "error-page";

body {
    margin: 0;
    background-color: lightgray;
    font-family: sans-serif;
}

p {
    margin: 0;
}

img {
    display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
