.card {
  width: 100%;

  &:not(:first-child) {
    margin-top: 8px;
  }
}

.halfCard {
  width: calc(50% - 4px);
}

.flex {
  display: flex;

  &.flexWrap {
    flex-wrap: wrap;
  }

  &.flexColumn {
    flex-direction: column;
  }

  &.justifyCenter {
    justify-content: center;
  }

  &.justifySpaceBetween {
    justify-content: space-between;
  }

  &.justifySpaceAround {
    justify-content: space-around;
  }

  &.justifyFlexStart {
    justify-content: flex-start;
  }

  &.justifyFlexEnd {
    justify-content: flex-end;
  }

  &.justifySpaceEvenly {
    justify-content: space-evenly
  }

  &.alignCenter {
    align-items: center;
  }

  &.alignStart {
    align-items: flex-start;
  }

  &.alignBaseline {
    align-items: baseline;
  }
}

