<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AdController{% endblock %}</title>
        <link rel="icon" href="/favicon.ico">
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
