{% extends 'base.html.twig' %}

{% block javascripts %}
    {% if state is constant('App\\Entity\\Configuration::APP_STATE_ADSERVER_ACCOUNT_CREATED') %}
        {# installation #}
        {{ encore_entry_script_tags('js/installer') }}
    {% elseif state is constant('App\\Entity\\Configuration::APP_STATE_INSTALLATION_COMPLETED') %}
        {# configuration #}
        {{ encore_entry_script_tags('js/app') }}
    {% else %}
        {# account creation #}
        {{ encore_entry_script_tags('js/accountCreator') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="root"></div>
{% endblock %}
